<div id="app">
	<div>
		<span class="button background-purple colour-white border-radius inline-flex" v-on:click="setType">{{this.buttonText}}</span>
		<ul class="site-header__filter">
			<li v-bind:class="squareClasses" v-on:click="setSquare"><span>Squares</span></li>
			<li v-bind:class="listClasses" v-on:click="setList"><span>List</span></li>
		</ul>
	</div>
							
	<div class="courseContainer__filter">
		<div class="appFilter">							
			<div class="appFilter__input" v-bind:class="filterClasses">
				<select v-model="resultsOrder" v-select2>
					<option value="popular">Most Popular</option>
					<option value="newest">Newest First</option>
					<option value="oldest">Oldest First</option>
				</select>
			</div>

			<div class="appFilter__input" v-bind:class="difficultyClasses">
				<select v-model="difficulty" v-select2>
					<option value="all">Difficulty</option>
					<option value="Beginner">Beginner</option>
					<option value="Intermediate">Intermediate</option>
					<option value="Advanced">Advanced</option>
				</select>
			</div>

			<div class="appFilter__input appFilter__input--larger">
				<input class="appFilter__search" type="search" placeholder="Search" v-model="term">
			</div>
		</div>								
	</div>

	<div class="row">
									
		<div v-for="post in paginated[this.page]" v-bind:class="columnClasses" :data-type="dataType" :data-date="post.date" :data-order="post.menu_order">
			<div class="courses border-radius" :data-id="post.ID" v-bind:class="{ 'courses--favourite': post.favourite }">
				<div class="courses__content">
					<h3 class="courses__title">{{ fixTitle(post.post_title) }}</h3>
					<p v-if="post.excerpt" class="courses__exceprt" v-html="fixExcerpt(post.excerpt)"></p>
				</div>
				<div class="row align-items-center">
					<div class="col-6">
						<div class="topic__labels">
							<div class="tag tag--ghost" v-for="tag in post.tags">{{ tag.name }}</div>
						</div>
						<div v-if="post.name" class="name">by {{ post.name }}</div>
						<div v-bind:class="dateClasses">on {{ post.date }}</div>
					</div>
					<div class="col-6 text-right">
						<a class="button background-purple colour-white border-radius" :href="post.permalink" rel="bookmark" :title="post.post_title">{{ subButtonText }}</a>
					</div>
				</div>
				<span v-if="post.favourite" class="favourite favourite--active" :data-course-id="post.ID"><img src="/assets/img/yellow.png" alt="yellow star for favouriting course"></span>
				<span v-else v-bind:class="favouriteClasses" :data-course-id="post.ID"><img src="/assets/img/yellow.png" alt="yellow star for favouriting course"></span>
			</div><!-- .courses -->
		</div><!-- .col-md-6 col-lg-4 -->

	</div>

	<div class="appPagination">
		<div v-bind:class="backClasses" v-on:click="backPage">Previous</div>
		<div v-bind:class="nextClasses" v-on:click="nextPage">Next</div>
	</div>
</div>